<?xml version="1.0"?>
<config>
  <modules>
    <Testm_DiscountCard>
      <version>0.1.0</version>
    </Testm_DiscountCard>
  </modules>
  <frontend>
    <routers>
      <discountcard>
        <use>standard</use>
          <args>
            <module>Testm_DiscountCard</module>
            <frontName>discountcard</frontName>
          </args>
      </discountcard>
    </routers>
		<layout>
		  <updates>
			<discountcard>
			  <file>discountcard.xml</file>
			</discountcard>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <discountcard>
        <class>Testm_DiscountCard_Helper</class>
      </discountcard>
    </helpers>
	<blocks>
	  <discountcard>
		<class>Testm_DiscountCard_Block</class>
	  </discountcard>
	</blocks>
	<models>
	  <discountcard>
		<class>Testm_DiscountCard_Model</class>
		<resourceModel>discountcard_mysql4</resourceModel>
	  </discountcard>
	  <discountcard_mysql4>
		<class>Testm_DiscountCard_Model_Mysql4</class>
		<entities>		  
			  <discount>
				<table>discountcards</table>
			  </discount>
        </entities>
	  </discountcard_mysql4>
	</models>
	<resources>
	  <discountcard_setup>
		<setup>
		  <module>Testm_DiscountCard</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </discountcard_setup>
	  <discountcard_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </discountcard_write>
	  <discountcard_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </discountcard_read>
	</resources>
  </global>
</config> 