<?xml version="1.0"?>
<config>
  <modules>
    <Testm_CustomerAttribute>
      <version>0.1.0</version>
    </Testm_CustomerAttribute>
  </modules>
  <global>
	<fieldsets>
		<sales_convert_quote_address>
			<mobile_number>
				<to_order_address>*</to_order_address>
				<to_customer_address>*</to_customer_address>
			</mobile_number>
		</sales_convert_quote_address>
		<customer_address>
			<mobile_number>
				<to_quote_address>*</to_quote_address>
			</mobile_number>
		</customer_address>
    </fieldsets>
    <helpers>
      <customerattribute>
        <class>Testm_CustomerAttribute_Helper</class>
      </customerattribute>
    </helpers>
	<models>
	  <customerattribute>
		<class>Testm_CustomerAttribute_Model</class>
		<resourceModel>customerattribute_mysql4</resourceModel>
	  </customerattribute>
	</models>
	<resources>
	  <salesattribute1526478316_setup>
		<setup>
		  <module>Testm_CustomerAttribute</module>
		  <class>Mage_Sales_Model_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </salesattribute1526478316_setup>
	  <salesattribute1526478316_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </salesattribute1526478316_write>
	  <salesattribute1526478316_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </salesattribute1526478316_read>
	  <customerattribute1526478316_setup>
		<setup>
		  <module>Testm_CustomerAttribute</module>
		  <class>Mage_Customer_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customerattribute1526478316_setup>
	  <customerattribute1526478316_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customerattribute1526478316_write>
	  <customerattribute1526478316_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customerattribute1526478316_read>
	</resources>
  </global>
</config> 